/* @font-face {
    font-family: "Jackwrite";
    src: url("@/assets/fonts/Jackwrite-8MxjA.ttf");
  }
  
  @font-face {
    font-family: "Jackwritethin";
    src: url("@/assets/fonts/JackwriteThin-YzvOL.ttf");
  } */
  
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply mx-auto bg-secondary text-primary font-body tracking-widest;
    }
    header {
        @apply light-bg w-screen fixed top-0 left-0 pt-6 pb-2 z-40;
    }
    footer {
        @apply py-4;
    }
    nav {
        @apply flex items-center w-full site-padding;
    }
    section {
        @apply flex flex-col min-h-screen site-padding items-center justify-center py-20 mt-10;
    }
    h1 {
        @apply text-primary font-bold text-5xl md:text-4xl mb-1;
    }
    h1 a {
        @apply font-bold text-primary pointer-events-none;
    }
    h2 {
        @apply text-neutral text-xl md:text-2xl font-bold mb-4;
    }
    h2 a {
        @apply text-neutral pointer-events-none text-xl md:text-2xl font-bold mb-4;
    }
    h3 {
        @apply text-neutral text-lg md:text-xl font-bold tracking-widest;
    }
    h3 a {
        @apply text-neutral pointer-events-none text-lg md:text-xl font-bold tracking-widest;
    }
    h4 {
        @apply text-primary text-base md:text-lg font-bold mb-2;
    }
    h4 a {
        @apply text-primary pointer-events-none text-base font-medium mb-4;
    }
    h5 {
        @apply text-accent text-sm font-bold tracking-wider mb-2;
    }
    h5 a {
        @apply text-accent pointer-events-none text-sm font-bold tracking-wider mb-2;
    }
    p {
        @apply font-light tracking-wider normal-case mb-2;
    }
    a {
        @apply text-sm text-center tracking-widest;
    }
    ul {
        @apply flex flex-col items-center justify-center gap-[1px] text-center md:flex-row;
    }
    li {
        @apply w-full;
    }
    textarea {
        @apply h-24;
    }
    button {
        @apply w-24 text-3xl md:text-sm font-bold uppercase;
    }
}

@layer components {
    .nav-item {
        @apply w-96 bg-neutral px-4 py-1 rounded shadow-xl trans;
    }
    .form {
        @apply mb-4 pt-2 px-3 rounded-lg border-0 ring-0 focus:border-0 focus:ring-0 bg-secondary text-sm placeholder:font-medium placeholder:uppercase tracking-wide;
    }
    .submitButton {
        @apply self-center bg-primary font-medium text-secondary border-primary p-1 px-4 rounded-lg trans;
    }
    .trans {
        @apply transition duration-300 ease-in-out;
    }
    .light-bg {
        @apply bg-secondary bg-opacity-80 backdrop-blur-sm;
    }
    .red-bg {
        @apply bg-accent bg-opacity-80 backdrop-blur-sm;
    }
    .white-bg {
        @apply bg-secondary bg-opacity-80 backdrop-blur-sm;
    }
    .site-padding {
        @apply max-w-screen-2xl mx-auto px-6;
    }
    .sosmed {
        @apply w-7 h-8 fill-primary shadow trans;
    }
}

/* Daisy */

.dropdown-content {
    @apply w-full bg-secondary bg-opacity-80 backdrop-blur-sm rounded;
}
.card {
    @apply bg-transparent rounded pb-4;
}
.card-body {
    @apply p-5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #111518;
  box-shadow: 0 0 0px 1000px #DEE2F7 inset;
  transition: tertiary-color 5000s ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
  }
  
body::-webkit-scrollbar {
    display: none;
  }

  /* Page Transittion */
.page-enter-from{
    opacity: 0;
    transform: translateY(0);
  }
  
.page-enter-active,
.page-leave-active {
    transition: all 0.5s;

  }
.page-enter,
.page-leave-to {
    opacity: 0;
  }
  .tm {
    stop-color: #F51AA4;
}