@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap");
/*
@font-face {
    font-family: "Jackwrite";
    src: url("@/assets/fonts/Jackwrite-8MxjA.ttf");
  }
*/
/* @font-face {
  font-family: "ZnikomitSC";
  src: url("@/assets/fonts/ZnikomitSC.otf");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto bg-secondary text-primary font-body font-light text-sm tracking-widest;
  }
  header {
    @apply bg-secondary w-screen fixed top-0 left-0 pt-6 z-50 shadow-md;
  }
  footer {
    @apply flex items-center justify-center w-full site-padding px-6 xl:px-0 z-50;
  }
  nav {
    @apply flex flex-wrap items-center w-full site-padding px-6 xl:px-0 mb-2;
  }
  section {
    @apply flex flex-col min-h-screen items-center justify-center py-4 bg-cover;
  }
  h1 {
    @apply font-bold text-primary text-2xl md:text-3xl uppercase -tracking-tight;
  }
  h1 a {
    @apply font-bold text-primary pointer-events-none -tracking-tight leading-3;
  }
  h2 {
    @apply font-normal text-xl md:text-2xl uppercase -tracking-tight;
  }
  h2 a {
    @apply pointer-events-none font-normal text-xl md:text-2xl uppercase -tracking-tight;
  }
  h3 {
    @apply text-primary text-lg md:text-xl mb-4 -tracking-tight;
  }
  h3 a {
    @apply text-primary pointer-events-none text-lg md:text-xl mb-4 -tracking-tight;
  }
  h4 {
    @apply text-primary text-base md:text-lg;
  }
  h4 a {
    @apply text-primary pointer-events-none text-base font-medium mb-4;
  }
  h5 {
    @apply text-sm tracking-wider mb-1;
  }
  h5 a {
    @apply text-neutral pointer-events-none text-sm font-bold tracking-wider mb-1;
  }
  p {
    @apply text-left tracking-wider normal-case mb-2;
  }
  a {
    @apply text-sm text-center tracking-widest trans;
  }
  ul {
    @apply flex flex-row items-center justify-center gap-5 gap-y-2 text-center;
  }
  li {
    @apply uppercase hover:underline hover:underline-offset-8 hover:decoration-2 trans;
  }
  textarea {
    @apply h-24;
  }
}

@layer components {
  .site-padding {
    @apply max-w-screen-xl mx-auto;
  }
  .secondary-nav {
    @apply bg-secondary w-screen fixed top-10 sm:top-[64px] pt-4 z-10;
  }
  .page-title {
    @apply w-3/6 lg:w-2/6 mb-4;
  }
  .hero-image {
    @apply bg-cover w-full h-full absolute top-0 z-0;
  }
  .crd {
    @apply bg-secondary p-6 shadow-xl w-full sm:w-2/3 z-50;
  }
  .underlined-text {
    @apply text-left mb-1 pb-2 border-b;
  }
  .projects-grid {
    @apply grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 w-full site-padding mt-36 lg:mt-32;
  }
  .sosmed {
    @apply w-6 h-6 fill-primary shadow trans;
  }
  .squares {
    @apply mb-5 bg-none;
  }
  .left {
    @apply right-0;
  }
  .right {
    @apply ml-auto left-0;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #111518;
  box-shadow: 0 0 0px 1000px #d5d7cb inset;
  transition: tertiary-color 5000s ease-in-out 0s;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* Page Transittion */
.page-enter-from {
  opacity: 0;
  transform: translateY(0);
}
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
